

/* //  Navbar page */


    ul{
         background-color: white;
            width: 51px;
            margin-top: 20px;
            list-style: none;
    }
    ul li{
        padding: 15px;

    }
    .setting{
        margin-top: 250px;
        margin-bottom: 80px;

    }
    ul svg{
        font-size: 40px;
    }
    ul .links :hover{
        background-color: blueviolet;
        border-radius: 3px ;
        border-style: solid ;
        border-color: blueviolet;

    }
    ul .svg{
        color: black;
    }

