:root {

	/* Font Family */
	--font_primary: "Poppins", sans-serif;

	/* Font Weight */
	--fw_light: 300;
	--fw_regular: 400;
	--fw_medium: 500;
	--fw_semiBold: 600;
	--fw_bold: 700;
	--fw_extraBold: 800;
	--fw_black: 900;


	// Layout Color
   
	--clr_blue: (#5541d7);
	--clr_gry:(#e2e2ea);
	--clr_trans: (#F7F7FC);
	--clr_white:(#FFFFFF);

	// Text Color

	--clr_black:(#11142D);
	--clr_lightgreen:(#42BDA1);
	--clr_DrakGrey: (#92929D);

}
